{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Contact us |{{ block.super }}{% endblock %}
{% block content %}

<style>


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
</style>


<h2 class="container text-center" style="padding-top: 150px;"" >Order Now </h2>
<p class="container text-center font " style="font-size: 22px">Tell us more about what, how and when you need your project.</p>
<h4 class="text-center font " id="get" style="padding-top: 50px"> <span style="background-color: #0e9f15; font-size: 50px;color: black">  50% off</span> till March 31st</h4><br><h4 class="text-center">*On Content writing</h4>

<div class="container">

<form method="POST" novalidate  class="escalation-form" enctype="multipart/form-data"> style="background-color: #d7e7f0">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
    {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


    {% endblock content %}