 {% load static %}
 <footer class="  font-small pt-0 font" style="background-color: #348ea2">

    <div style="background-color: #348ea2">
        <div class="container">
            <!--Grid row-->
            
        </div>
    </div>

    <!--Footer Links-->
    <div class=" container text-md-left">
        <div class="row mt-4">

           

            <!--Second column-->
            <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4" style="padding-top: 25px;padding-bottom: 25px;">
                <h6 class="text-uppercase font-weight-bold font" style="color: white">
                    <strong>Management Subjects</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Case Study Writing Services</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right  " aria-hidden="true" style="color: white"></i> Business Case Studies Assignment</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Management Case Studies</a>
                </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Accounting Case Studies Assignment</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Finance Case Studies Assignment</a>
                </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Marketing Case Study Assignment</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Economics Assignment Help</a>
                </p><p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Marketing Assignment Help</a>
                </p><p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Finance Assignment Help</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Marketing Research Assignment Help</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Strategy Marketing Assignment help</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Human Resource Management (HR)</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Corporate Finance Assignment Help</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Managerial Accounting Assignment</a>
                </p>
                <p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Change Management Assignment Help</a>
                </p>
                 <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Organizational Culture Assignment</a>
                </p>
                 <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Financial Statement Analysis</a>
               </p>


            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4" style="padding-top: 25px;padding-bottom: 25px" >
                <h6 class="text-uppercase font-weight-bold font" style="color: white">
                    <strong>General Subjects </strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>   Psychology Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Science Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>   Physics Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Biology Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Geography Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Arts Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Social Science Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  English Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Recruitment Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Chemistry Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  History Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Sociology Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Nursing Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Law and Taxation Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Hospitality Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Financial Statement Analysis</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Assignment help Australia</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Assignment Help UK</a>
               </p>
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Assignment help USA</a>
               </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3"  style="padding-top: 25px;padding-bottom: 25px">
                <h6 class="text-uppercase font-weight-bold" style="color: white" >
                    <strong>PREMIUM SERVICES</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  MBA Assignment Help</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>   Research Paper Writing Service</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Essay Writing Services</a>
               </p>
               <p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Dissertation and Thesis Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="#" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Buy Assignment Writing Service</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Expert Assignment Writers</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i> Case Study Assignment Help</a>
               </p><p class="fontsize" style="color: white">
                   <a href="{% url 'neworder:create' %}" style="color: white"><i class="fa fa-caret-right " aria-hidden="true" style="color: white"></i>  Free Assignment Samples</a>
               </p>
               <h6 class="text-uppercase font-weight-bold" style="color: white" ><br><Br>
                    <strong>Exploring</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="font" style="color: white">
                    <i class="fa fa-comments"></i> <b>Contact Us</b></p>
                <p class="font" style="color: white">
                  <i class="fa fa-share"></i></i> <b>Refund Policy</b></p>
                <p class="font" style="color: white">
                    <i class="fa fa-arrows-h"></i></i> <b>Cancellation Policy</b></p>
                <p class="font" style="color: white">
                    <i class="fa fa-print mr-3"></i><b> Terms & Condition</b></p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    

</footer>


<!--/.Footer-->
 <!-- <footer class="page-footer center-on-small-only unique-color-dark pt-0">

<div style="background-color: #6351ce;"><div class="container"></div></div><div class="container mt-5 mb-4 text-center text-md-left"><div class="row mt-3">


<div class="col-md-4 col-lg-4 col-xl-3 mb-r">
<a href="https://loudoncloud.com"><strong> &nbsp; <a class="class="title font-bold""  href="/"><span style="color: red; font-size: 22px">A</span><span style="color: #12127b;font-size: 15px">cademia</span><span style="color: red ; font-size: 22px">B</span><span style="color: #12127b;font-size: 15px">uddy.com</span></strong></a>

<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">


<p class="font " style="font-size: 20px">We're hiring.</p>
<p class="font" style="font-size: 20px">If you are seeking assistance of academic research writing services such as thesis, dissertation, research paper, case study, assignment, essay, research proposal and technical projects. We are here to help you out in writing all kind of student’s assignment..</p>
</div>

<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-r">
<h3  class="title font-bold font"><strong >Services</strong></h3>
<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
<ul>
                            <li class="text-center font list-inline" style="font-size: 20px;color: black"><b><a href="services/content-writing/" style="text-decoration: none;color: black;font-size: 20px"><button class="w3-button  w3-round-xxlarge" style="background-color: rgba(49, 214, 230, 0.43)">Content Writing</button></a></b>
                            </li>
                            <br>
                            <li class="text-center font list-inline" style="font-size: 20px;color: black"><b><a href="services/content-writing/" style="text-decoration: none;color: black;font-size: 20px"><button class="w3-button  w3-round-xxlarge" style="background-color: rgba(49, 214, 230, 0.43)">Assignment Writing</button></a></b></li><br>
                            <li class="text-center font list-inline" style="font-size: 20px;color: black"><b><a href="/services/graphic-designing/" style="text-decoration: none;color: black;font-size: 20px"><button class="w3-button  w3-round-xxlarge" style="background-color: rgba(49, 214, 230, 0.43)">Graphic Designing</button></b></a></li><br>
                            <li class="text-center font list-inline" style="font-size: 20px;color: black"><b><a href="/services/architecture-design/" style="text-decoration: none;color: black;font-size: 20px"><button class="w3-button  w3-round-xxlarge" style="background-color: rgba(49, 214, 230, 0.43)">Architecture Designs</button></a></b></li>

                            </ul>

</div>
<script>
$(document).ready(function(){
$('[data-toggle="popover"]').popover();   
});
</script>



<div class="col-md-4 col-lg-4 col-xl-4" id="contact">
<h3 class="title font-bold font"><strong>Contact</strong></h3>
<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
<p class="font" style="font-size: 20px"><i class="fa fa-home mr-3 " style="color: #232738"></i> North Virginia, US</p>
<p class="font" style="font-size: 20px"><i class="fa fa-envelope mr-3 " style="color: #232738"></i> info@academibuddy.com</p>


</div>


    </div></div></footer>
<br><hr>
     -->

    <footer class="footer text-center">

    <div class="w3-xlarge w3-section">
        Find us on  
    <a href="https://www.facebook.com/Academia-Buddy-388632484906445/" target="blank"><i class="fa fa-facebook-square" style="color: #0371a4;font-size: 40px" >&nbsp;</i></a>
    <a href="https://www.instagram.com/academiabuddy64/" target="blank"><i class="fa fa-instagram" style="color: #57103d;font-size: 40px">&nbsp;</i></a>
    <a href="https://www.linkedin.com/in/academia-buddy-988aa0153/" target="blank"><i class="fa fa-linkedin" style="color: #1b5a6f;font-size: 40px">&nbsp;</i></a>

    <!-- <a href="skype:academiabuddy" target="blank"><i class="fa fa-skype" style="color: #3e5687;font-size: 40px"></i></a> -->
    </div>
     <img src="{% static 'img/payment.png' %}"><br><br>
<p class="margin-b-0" style="color: #17bed2" style="font-size: 22px"><a class="fweight-700"  href="/"><span style="color: red; font-size: 30px">A</span><span style="color: #2b7bbf;font-size: 22px">cademia</span><span style="color: red ; font-size: 30px">B</span><span style="color: #2b7bbf;font-size: 22px">uddy.com</span></a><br>  </p> </a>&copy; <strong class="fontblack"> 2017-2018 All Rights Reserved.</strong></p>
</footer>
  
           
            <!-- End Links -->

            <!-- Copyright -->
                
            <!-- End Copyright -->
        
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top" style="color: Blc">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
        <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>
        
