{% load static %}

    
   
    <head>
<meta charset="utf-8"/>
<title>Academia Buddy ! Content, Assignment Writing and Development Agency Worldwide</title>
<meta name="description" content="Academia Buddy is a global online service provider specialized in writing and design. We offer a range of services from Academic Writing, Content Writing, Assignment Writing, Graphic Design, Architectural Design, Web Design, Web Development, Medical Writing, Technical Writing, Research Project Writing, and Dissertation Writing."/>
<meta name="keywords" content="Academic Writing, Content Writing, Assignment Writing, Graphic Design, Architectural Design, Web Design, Web Development, Medical Writing, Technical Writing, Research Project Writing, and Dissertation Writing.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>

<meta content="We charge you less as our charges are less. Let us write for you.." name="description"/>
<meta content="Academia Buddy" name="author"/>
<meta name="google-site-verification" content="MvwTEWP1uHmKsJ50k7KodYN884Sf_YDr4x9QeMoaAKg" />
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="icon" type="image/png" href="{% static 'img/logo_icon.png' %}"/>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">    
<script src="{% static 'js/jquerymin.js' %}"  type="text/javascript"></script> 

<!--script type="text/javascript" src="js/nagging-menu.js" charset="utf-8"></script--> 
<script src="{% static 'custom.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/aslider.js' %}"></script>      

    </head>
