{% extends "base.html" %}
{% block title %} Sign in |{{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if form.errors %}
<p class="container" style="padding-top: 20px;text-align: center; color: red">Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="container" style="padding-top: 200px">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="{% url 'accounts:login' %}" role="login"> {% csrf_token %}
          <h3 style="padding-left: 20px">Sign in to access samples and more!</h3>
          <input type="text"  class="form-control input-lg Write" name="username" placeholder="Username"  /><br>
          
          <input type="password" class="form-control input-lg Write" name="password" placeholder="Password"/>
          <div class="pwstrength_viewport_progress"></div>
          
          <br>

        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block Write">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
          <div></div><br>


          
             <a href="{% url 'accounts:signup' %}" class="Write" style="text-decoration: none;color: #17bed2 ;font-size: 20px">New to AcademiaBuddy, Signup now.</a>
          </div>

          <div></div>


          
            
          </div>
          
        </form>
        
        
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>
     
  
  
</div>
<br><br><br><br><br><hr>


{% endblock content %}
