
    {% extends "base.html" %}
    {% block title %}Contact Us - Thank You{% endblock title %}
    {% block content %}
      <h3 class="container text-center font" style="padding-top: 150px;font-size: 30px">Thank you.</h3>
      <p  class="container text-center font" style="font-size: 30px">We will get in touch with you soon!.</p>
      <p class="container text-center font " style="font-size: 30px; "><a href="{% url 'index'%}"  style="color: #16489f">Take me to the home</a></p>
	<br><br><br><br><br><hr>   

 {% endblock content %}
  
